html {
  background-color: #ffffff;
}


/* defoult */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* text-logo style */
.nav-logo-text {
  font-family: 'Raleway' , sans-serif;
  font-size: 26px;
  font-weight: 700;
  
}

.nav-logo-text {
  color: #000;
}

a span {
  color: #2196F3;
}

/* nav */

.nav-title {
  border-bottom: 1px solid #ECECEC;
}

.nav-item {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;

letter-spacing: 0.02em;

color: #212121;

cursor: pointer;
}

.nav-item:hover {
  color: #2196F3;

  
}



.contact a {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;

letter-spacing: 0.02em;
color: #757575;
}

.contact a:hover {
  color: #2196F3;
}

/* hero section */

.hero {
  background-color: #2F303A;

  text-align: center;
}

.title {
  font-family: 'Roboto' , sans-serif;
  font-size: 44px;
  
  font-weight: 900;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

}

.title-page {
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  font-size: 16px;


  background-color: #2196F3;
  border-radius: 4px;

  color: #ffffff
  
  
}


.caption  h3 {
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  font-size: 14px;

  color: #212121;

}

.caption p {
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
  font-size: 14px;


  color: #757575;
}


.subject {
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  font-size: 36px;


  text-align: center;
}


.command {
  background-color: #F5F4FA;
}

.command-style {
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  font-size: 36px;


  text-align: center;
}

.thumb p {
  font-family: 'Roboto' , sans-serif;
  font-weight: 500;
  font-size: 16px;


  color: #212121;

  text-align: center;
}

.thumb p:last-of-type {
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
  font-size: 16px;


  color: #757575;

  text-align: center;
}
/* Footer */
.footer {
  background-color: #2F303A;
}


.footer-logo {
  font-family: 'Raleway' , sans-serif;
  font-size: 26px;
  font-weight: 700;

  color: #FFFFFF;
}

.footer-logo  span {
  color: #2196F3;
}

.footer-add {
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;

  color: #FFFFFF;
}

.footer-item a {
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
  font-size: 14px;


  color: #ffffff6f;
}
.footer-item a:hover {
  color: #2196F3;
}


/* contentNav Po*/

.nav-btn-item a{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #212121;

  background-color: #F5F4FA;

  border-radius: 4px;
}

.nav-btn-item a:hover{
  background-color: #2196F3;
  color: #FFFFFF;
}

/* contentCard */

.card-item h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-style: 18px;

  color: #212121;

}

.card-item p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #757575;
}

.card-item p:last-child {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #3b607e88;
}





